# Env Switcher
NODE_ENV=

# Foundry Config
NEXT_PUBLIC_FOUNDRY_RPC_URL=

# MongoDB Connection
MONGODB_URI=

# NextAuth Global Settings
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Pinata Integration
PINATA_JWT=

# Web3 Contract Addresses (from deploy script output)
NEXT_PUBLIC_FOUNDRY_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_MOCK_USDC_ADDRESS=
NEXT_PUBLIC_RIGHTS_MINTER_ADDRESS=
NEXT_PUBLIC_PLAYER_RIGHTS_MASTER_ADDRESS=
NEXT_PUBLIC_VAULT_FACTORY_ADDRESS=

# Deployer private key (default is #0 private key from Foundry, set on Deploy.s.sol)
ADMIN_PRIVATE_KEY=
GROQ_API_KEY=
GROQ_MODEL=